.box1 {
  border: 1.5px solid #0000000d;
  box-shadow: -2px 1px 3px 0px #201a3a3d;
  margin: 30px 0;
  border-radius: 10px;
}
.box ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 54px;
}
.box ul li {
  padding: 15px 10px;
  font-size: 15px;
  color: #201a3a;
  font-weight: bold;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box ul li:first-child {
  grid-column: 1/3;
}
.full {
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-column-gap: 20px;
  grid-column: 1/3;
}
.inputfull {
  width: 290px !important;
}
.box ul li:first-child input {
  width: 508px;
}
.box ul li > div span {
  color: #c19827;
  display: block;
}
.box ul hr {
  box-shadow: 0px 0px 1px 0px #201a3a;
  margin-bottom: 10px;
}
.box ul li input,
.box ul li select {
  border: none;
  border-radius: 5px;
  box-shadow: -1px 1px 3px 0px #201a3a;
  width: 168px;
  padding: 0px 10px;
  background: none;
  height: 30px;
}

.box button {
  box-shadow: -1px 1px 3px 0px #201a3a;
  margin-top: 15px;
  float: left;
  border: none;
  background: #201a3a;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100px;
  font-weight: bold;
  transition-duration: 0.3s;
  cursor: pointer;
}
.box button:hover {
  background-color: #3f3663;
}
.btn-special {
  background: red !important;
  margin: 5px 10px 0;
  width: 75px !important;
}
.btn-special:hover {
  background: rgb(173, 63, 63) !important;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {

    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #201a3a;
}
.box i {
  color: #fff !important;
}
.inputfile{
  box-shadow: none !important;
}