.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .error__desc {
    text-align: center;
    font-size: 1.5em;
  }
  
  .error__msg {
    color: #999;
  }