<h1 class='title'>إضافة موظف جديد</h1>
<hr>
<div class="box">
    <ul>
        <li>
            <span>الاسم رباعي</span>
            <input type="text">
        </li>
        <li>
            <span>رقم الهوية</span>
            <input type="text">
        </li>
        <li>
            <span>تاريخ الميلاد</span>
            <input type="date">
        </li>
        <li>
            <span>مكان السكن</span>
            <input type="text">
        </li>
        <li>
            <span>الحالة الاجتماعية</span>
            <select>
                <option value="0">أعزب</option>
                <option value="1">متزوج</option>
                <option value="2">مطلق</option>
            </select>
        </li>
        <li>
            <span>عدد الأبناء</span>
            <input type="text">
        </li>
        <li>
            <span>الجنسية</span>
            <input type="text">
        </li>
        <li>
            <span>الوظيفة</span>
            <select>
                <option value="0">وظيفة 1</option>
                <option value="1">وظيفة 2</option>
                <option value="2">وظيفة 3</option>
            </select>
        </li>
        <li>
            <span>الفئة</span>
            <select>
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
            </select>
        </li>
        <li>
            <span>الدرجة</span>
            <select>
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
            </select>
        </li>
        <li>
            <span>عمل الزوجة</span>
            <select>
                <option value="0">تعمل</option>
                <option value="1">ﻻ تعمل</option>
            </select>
        </li>
        <li class="full">
            <span>الشهادات العلمية</span>
            <input type="text" placeholder="عنوان الشهادة" class="inputfull">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file" class="labelfile"><i class="fas fa-cloud-upload-alt"></i> Upload file</label>
        </li>
        <li>
            <span>تاريخ التعيين</span>
            <input type="date">
        </li>
        <li>
            <span>الراتب</span>
            <input type="text">
        </li>
        <li>
            <span>نوع الوظيفة</span>
            <select>
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
            </select>
        </li>
        <li>
            <span>المسئول المباشر</span>
            <input type="text">
        </li>
        <li class="full">
            <span>الوصف الوظيفي للموظف</span>
            <input type="file" name="file" id="file" class="inputfile1" />
            <label for="file" class="labelfile"><i class="fas fa-cloud-upload-alt"></i> Upload file</label>
        </li>
    </ul>
    <button>إضافة موظف</button>
    <button class="btn-special">رجوع</button>
</div>