<h1 class='title'>إضافة موظف جديد</h1>
<hr>
<div class="box">
    <form id='newEmpForm'>
        <ul>
            <li>
                <span>الاسم رباعي</span>
                <input name='name' type="text">
            </li>
            <li>
                <span>رقم الهوية</span>
                <input name='idNumber' type="text">
            </li>
            <li>
                <span>تاريخ الميلاد</span>
                <input name='birthday' type="date">
            </li>
            <li>
                <span>مكان السكن</span>
                <input name='location' type="text">
            </li>
            <li>
                <span>الحالة الاجتماعية</span>
                <select name='socialStatus'>
                    <option value="أعزب">أعزب</option>
                    <option value="متزوج">متزوج</option>
                    <option value="مطلق">مطلق</option>
                </select>
            </li>
            <li>
                <span>عدد الأبناء</span>
                <input name='children' type="number">
            </li>
            <li>
                <span>الجنسية</span>
                <input name='nationality' type="text">
            </li>
            <li>
                <span>الوظيفة</span>
                <input name='jobTitle' type="text">
            </li>
            <li>
                <span>الفئة</span>
                <select name='category'>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </li>
            <li>
                <span name='class'>الدرجة</span>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </li>
            <li>
                <span>عمل الزوجة</span>
                <select name='wife'>
                    <option value="true">تعمل</option>
                    <option value="false">ﻻ تعمل</option>
                </select>
            </li>
            <li class="full">
                <form id='cerfi'>
                    <span>الشهادات العلمية</span>
                    <input type="text" placeholder="عنوان الشهادة" name='certificationName' >
                    <input type="file" id='cerfications' name='certifications'  class="inputfile"/>
                </form>
            </li>
            <li>
                <span>تاريخ التعيين</span>
                <input name='jobStart' type="date">
            </li>
            <li>
                <span>الراتب</span>
                <input name='salary' type="number">
            </li>
            <li>
                <span>نوع الوظيفة</span>
                <select name='jobType'>
                    <option value="0">مصنف</option>
                    <option value="1">غير مصنف</option>
                    <option value="2">مؤقت</option>
                </select>
            </li>
            <li>
                <span>المسئول المباشر</span>
                <input name='supervisor' type="text">
            </li>
        </ul>
    </form>
    <button id='addEmp'>إضافة موظف</button>
    <a href="/employees"><button class="btn-special">رجوع</button></a>
</div>