<h1 class='title'>صناديق المشتريات</h1>
<hr>
<div class="box">
    <table>
        <tr>
            <th>اسم صندوق المشتريات</th>
            <th>حذف</th>
        </tr>
        <tr>
            <td>برافو</td>
            <td><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>سبيتان</td>
            <td><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>سبيتان</td>
            <td><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>سبيتان</td>
            <td><i class="fas fa-trash-alt"></i></td>
        </tr>
    </table>
    <button>إضافة</button>
</div>