<h1 class='title'>صناديق المشتريات</h1>
<hr>
<div class="box">
    <div class="inputs">
        <input type="text" placeholder="صندوق المشتريات" name="employeename" id="inputText">
        <button id="add">إضافة</button>
    </div>
    <table>
        <tr>
            <th>اسم صندوق المشتريات</th>
            <th>حدث</th>
        </tr>
        {{#each result}}
        <tr id="row">
            <td><input type="text" value="{{dataValues.name}}" id="cartName" readonly></td>
            <td>
                <i class="far fa-edit" id="edit"></i>
                <i class="fas fa-trash-alt" id="trash" boxId="{{dataValues.id}}"></i>
            </td>
        </tr>
    {{/each}}
    </table>
</div>