<h1 class='title'>عرض تفاصيل الموظف - مهند نزيه الحنفي</h1>
<hr>
<div class="box">
    <div class="add">
        <input type="text" placeholder="بحث حسب الاسم">
        <a href="/addEmployee"><button>إضافة موظف</button></a>
    </div>
    <table>
        <tr>
            <th>الاسم الرباعي</th>
            <th>رقم الهوية</th>
            <th>المسمى الوظيفي</th>
            <th>الفئة</th>
        </tr>
        <tr>
            <td>مهند نزيه الحنفي</td>
            <td>40096685540</td>
            <td>مساعد إداري</td>
            <td>A</td>
        </tr>
        <tr>
            <td>إبراهيم عﻻء الشيخ علي</td>
            <td>40096685540</td>
            <td>مساعد إداري</td>
            <td>A</td>
        </tr>
        <tr>
            <td>عثمان ابصر ايش ابو شملة</td>
            <td>40096685540</td>
            <td>مساعد إداري</td>
            <td>A</td>
        </tr>
        <tr>
            <td>علي احمد الشيخ احمد</td>
            <td>40096685540</td>
            <td>مساعد إداري</td>
            <td>A</td>
        </tr>
    </table>
</div>