<section class="error">
  <p class="error__desc">{{statusCode}}.
    <span class="error__msg">{{errorMessage}}</span>
  </p>
  <img class="error__image" src="https://i.imgur.com/cTH1lZG.png" alt="error">
</section>