<h1 class='title'>الإعدادات العامة</h1>
<hr>
<div class="box">
    <ul>
        <li>
            <label>سعر الدوﻻر</label>
            <input type="text" placeholder="3.5">
        </li>
        <li>
            <label>القيمة الضريبية</label>
            <input type="text" placeholder="3.5">
        </li>
        <li>
            <label>نسبة الادخار</label>
            <input type="text" placeholder="3.5">
        </li>
        <li>
            <label>نسبة مساهمة المعهد في الضمان</label>
            <input type="text" placeholder="3.5">
        </li>
        <li>
            <label>نسبة مساهمة الموظف في الضمان</label>
            <input type="text" placeholder="3.5">
        </li>
        <li>
            <label>اعفاء مقيم</label>
            <input type="text" placeholder="3.5">
        </li>
    </ul>
    <button>حفظ</button>
</div>