<div class="container">
<img src="https://image.ibb.co/dDnePK/pbi_logo.png" alt="">
    <form>
        <input type="email" id="email" placeholder="اسم المستخدم"/>
        <input type="password" id="password" placeholder="كلمة المرور"/>
        <button type="submit" id="submit">تسجيل الدخول</button>
    </form>
</div>
