<div class="container">
    <img src="https://image.ibb.co/dDnePK/pbi_logo.png" alt="">
    <input type="text" id="username" placeholder="اسم المستخدم"/>
    <input type="password" id="password" placeholder="كلمة المرور"/>
    <button id="submit">تسجيل الدخول</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.4/dist/sweetalert2.all.min.js"></script>
<script src="js/login.js"></script>
