<h1 class='title'>نظـرة عـامة</h1>
<hr>
<div class='box'>
    <ul>
        <li>
            <span>سعر الدولار</span>
            <span>3.75</span>
        </li>
        <hr>
        <li>
            <span>سعر الدولار</span>
            <span>3.75</span>
        </li>
        <hr>
        <li>
            <span>سعر الدولار</span>
            <span>3.75</span>
        </li>
        <hr>
        <li>
            <span>سعر الدولار</span>
            <span>3.75</span>
        </li>
        <hr>
    </ul>
</div>