            <h1 class='title'>إصدار التقارير الشهرية</h1>
            <hr>
            <div class="box">
                <div class="add">
                    <div class='month'>
                        <input type="month" id="start" name="start" min="2018-03" value="2018-05" />
                        <span class="validity"></span>
                    </div>
                    <button id='create'>إنشاء وحفظ التقارير</button>
                    <button id='save'>تصدير التقارير</button>
                </div>
            </div>