  <h1 class='title'>إعدادات اللوحة</h1>
            <hr>
            <div class="box">
                <ul>
                    <form id ='settingForm'>
                    <li>
                        <label>اسم المستخدم</label>
                        <input name = 'username' type="text">
                    </li>
                    <li>
                        <label>كلمة المرور الحالية</label>
                        <input name ='currentPassword' type="password">
                    </li>
                    <li>
                        <label>كلمة المرور الجديدة</label>
                        <input name='password' type="password">
                    </li>
                    </form>
                </ul>
                <button id='saveSetting'>حفظ</button>
            </div>
