<h1 class='title'>اعدادات عامة</h1>
<hr>
<div class="box">
    <ul>
        <li>
            <span>سعر الدولار</span>
            <input type="text" placeholder="3.75">
        </li>
        <li>
            <span>القيمة الضريبية</span>
            <input type="text" placeholder="3.75">
        </li>
        <li>
            <span>نسبة الإدخار</span>
            <input type="text" placeholder="3.75">
        </li>
        <li>
            <span>نسبة مساهمة المعقد في الضمان</span>
            <input type="text" placeholder="3.75">
        </li>
        <li>
            <span>نسبة مساهمة الموظف في الضمان</span>
            <input type="text" placeholder="3.75">
        </li>
        <li>
            <span>اعفاء مقيم</span>
            <input type="text" placeholder="3.75">
        </li>
    </ul>
    <button>حفظ</button>
</div>