<div>
    <ul>
        <li class="{{#if activePage.home}}active{{/if}}"> <a href="/"> نظرة عامة</a> <i class="fas fa-home"></i></li>
        <li class="{{#if activePage.employee}}active{{/if}}"> <a href="/employees">الموظفين</a> <i class="fas fa-users"></i></li>
        <li class="{{#if activePage.generalSetting}}active{{/if}}"> <a href="/generalSetting">الاعدادات العامة</a> <i class="fas fa-user-edit"></i></li>
        <li class="{{#if activePage.reports}}active{{/if}}"> <a href="/reports">تقارير الرواتب</a> <i class="fas fa-file-invoice-dollar"></i></li>
        <li class="{{#if activePage.carts}}active{{/if}}"> <a href="/carts">صناديق المشتريات</a> <i class="fas fa-shopping-cart"></i></li>
        <li> <a href="#">مكافآت نهاية الخدمة</a><i class="fas fa-gift"></i></i></li>
        <li class="{{#if activePage.setting}}active{{/if}}"> <a href="/setting">اعدادات اللوحة</a> <i class="fas fa-cogs"></i></li>
        <li id="logout"> <a>تسجيل الخروج</a> <i class="fas fa-sign-out-alt"></i></li>
    </ul>
</div>
