<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <div class="page">
        <header>
            {{>header}}
        </header>

        <div class='sideNav'>
            {{>sidebar}}
        </div>

        <div class="content">
            {{{body}}}
        </div>

    </div>

</body>

</html>